
@model List<RAS.Bootcamp.Mvc.Net.Models.Entities.Barang>

<div class="container-fluid">
	<div class="row">
        <a href="@Url.ActionLink("Create", "Product")">Create New Product</a>
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th>No BARANG</th>
                        <th>KODE BARANG</th>
                        <th>NAMA BARANG</th>
                        <th>HARGA</th>
                        <th>STOK</th>
					</tr>
				</thead>
				<tbody>
					@if(Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr class="table-active">
                                <td>@item.Id</td>
                                <td>@item.Kode</td>
                                <td>@item.Nama</td>
                                <td>@item.Harga</td>
                                <td>@item.Stok</td>
                            </tr>   
                        }
                    }else{
                        <h1>Data barang null</h1>
                    }
				</tbody>
			</table>
		</div>
	</div>
</div>
