@using System.Globalization
@model List<RAS.Bootcamp.Catalog.Mvc.Net.Datas.Entities.Transaksi>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-responsive">
            <thead>
            <tr>
                <td>
                    No
                </td>
                <td>
                    ID Invoice
                </td>
                <td>
                    Total Harga
                </td>
                <td>
                    Status
                </td>
                <td>
                    Action
                </td>
            </tr>
            </thead>
            <tbody>
            @{
                int i = 1;

                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @(i++)
                        </td>
                        <td>
                            @($"INV{item.Id.ToString().PadLeft(8, '0')}")
                        </td>
                        <td>
                            @($"{item.TotalHarga:C}")
                        </td>
                        <td>
                            @item.StatusTransaksi
                        </td>

                        <td>
                            <a class="btn btn-success" href="@Url.Action("Detail", new { id = @item.Id })">Detail</a>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>